.level-builder {
    padding: 20px;
    display: flex;
    flex-direction: column;

    overflow: auto;
    height: 100vh;
    width: 100vw;

    overflow: auto;

    button {
        width: 200px;
    }

    .preview {
        display: flex;

        canvas {
            border: 1px solid rgb(200, 200, 200);
        }
    }
}

.toolbar {
    display: flex;
    flex-direction: column;

    .controls-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .controls-bundle {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin: 0 6px;
            }
        }
    }
}

canvas {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)

    image-rendering: pixelated;

    // width: 800px;
    // height: 800px;
}