<div class="level-builder">

    <div class="toolbar"
         [formGroup]="toolbarForm">

        <div>
            <button (click)="uploadImage.click()">
                Upload image
            </button>

            <label for="invert">
                <input type="checkbox"
                       id="invert"
                       formControlName="invert">
                Invert
            </label>
        </div>

        <div class="controls-wrapper">
            <label>Image Size</label>
            <div class="controls-bundle">
                <input type="number"
                       formControlName="width">
                <span>
                    x
                </span>
                <input type="number"
                       formControlName="height">
            </div>
        </div>

        <label for="isBundle">
            <input type="checkbox"
                   id="isBundle"
                   formControlName="isBundle">
            Is Bundle
        </label>

        <div *ngIf="isBundle.value"
             class="controls-wrapper">
            <label>Bundle Size</label>
            <div class="controls-bundle">
                <input type="number"
                       formControlName="bundleSizeWidth">
                <span>
                    x
                </span>
                <input type="number"
                       formControlName="bundleSizeHeight">
            </div>
        </div>

        <div *ngIf="generatedLevel"
             class="controls-wrapper">
            <label>Level Name</label>

            <input type="text"
                   formControlName="name">
            <button (click)="generateLevel()">
                Generate
            </button>
            <button (click)="downloadLevelJson()">
                Download
            </button>
        </div>
    </div>

    <div class="preview">
        <canvas #canvasPreview></canvas>
    </div>
</div>

<input type="file"
       hidden
       #uploadImage
       (change)="uploadFile($event)">