@mixin no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.board-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: relative;
}

.board {
    margin-top: 20px;

    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
    }

    &__tile {
        width: 50px;
        height: 50px;
        border: 1px solid grey;

        @include no-select;

        cursor: pointer;

        &.preview {
            background-color: #c9c9c9;
        }
        &.filled {
            background-color: #303030;
            border: 1px #c9c9c9 solid;
        }
        &.empty {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: "";

                height: 100%;
                width: 2px;

                background-color: #7b7b7b;

                position: absolute;

                transform: rotate(45deg);
            }
            &:after {
                content: "";

                height: 100%;
                width: 2px;

                background-color: #7b7b7b;

                position: absolute;

                transform: rotate(-45deg);
            }
        }
        &.error {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: "";

                height: 100%;
                width: 2px;

                background-color: red;

                position: absolute;

                transform: rotate(45deg);
            }
            &:after {
                content: "";

                height: 100%;
                width: 2px;

                background-color: red;

                position: absolute;

                transform: rotate(-45deg);
            }
        }
    }
}

.toolbar {
    display: flex;
    flex-direction: column;

    margin-right: 20px;

    &__action {
        width: 80px;
        height: 80px;
        padding: 12px;

        border: 3px solid #000;
        border-radius: 12px;

        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        img {
            width: 100%;
        }

        &.active {
            background-color: #000;

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}
